[alias]
	co = checkout
	slog = log --oneline --graph
[commit]
	gpgsign = true
[credential]
	helper = manager
[fetch]
	prune = true
[gpg]
	program = C:/Users/%USERNAME%/AppData/Local/gnupg/bin/gpg.exe
[user]
	name = Jonas Lalin
	email = 1ac6df24@gmail.com
	signingkey = 0x1F701F8591841C31
