[alias]
	co = checkout
	slog = log --oneline --graph
[commit]
	gpgSign = true
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[gpg]
	program = /usr/local/bin/gpg
[pull]
	ff = only
[tag]
	forceSignAnnotated = true
[user]
	name = Jonas Lalin
	email = 1ac6df24@gmail.com
	signingKey = 0x1F701F8591841C31
